<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800" rel="stylesheet">
    <title>Login Page</title>
</head>
<body>
    <div class="container bg-fff display-flex flex-1 flex-row box-sizing-border-box">
        <div class="display-flex flex-col flex-1 padding-48">
            <div>
                <h1>Sign-up</h1>
            </div>

            <div class="display-flex flex-1 flex-col justify-content-center padding-24">
                <form action="/login" method="post">   
                    <div class="login-text">
                        <h4>Username</h4>
                        <input type="text" name="username">
                    </div>

                    <div class="login-text">
                            <h4>Email</h4>
                            <input type="email" name="email">
                        </div>
                
                    <div class="login-text">
                        <h4>Password</h4>
                        <input type="password" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="password">
                    </div>

                    <div class="login-text">
                            <h4>Confirm Password</h4>
                            <input type="password" name="password">
                    </div>
                </form>
            </div>
        </div>

        <div class="vert-divider align-self-center"></div>

        <div class="display-flex flex-col flex-2 padding-48">
            <div>
                <h1>Student Info</h1>
            </div>
            <div class="display-flex flex-1 flex-col justify-content-center padding-24">
                    <form action="/login" method="post">   
                        <div class="login-text">
                            <h4>Username</h4>
                            <input type="text" name="username">
                        </div>

                        <div class="login-text">
                                <h4>Email</h4>
                                <input type="email" name="email">
                            </div>
                
                        <div class="login-text">
                            <h4>Password</h4>
                            <input type="password" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="password">
                        </div>

                        <div class="login-text">
                                <h4>Confirm Password</h4>
                                <input type="password" name="password">
                        </div>
                    </form>
                </div>
        </div>
    </div>
</body>
</html>