* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

a {
    margin: 20px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

a:active {
    color: rgb(0, 0, 0);
}

h4 { margin-top: 10px; }

.display-flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-center {
    justify-content: center;
    align-items: center
}

.justify-content-space-between { justify-content: space-between; }
.justify-content-center { justify-content: center; }

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }

.align-items-center { align-items: center; }

.align-self-center { align-self: center; }
.align-self-stretch { align-self: stretch; }

.flex-wrap { flex-wrap: wrap; }

.box-sizing-border-box { box-sizing: border-box; }

.bg-181a1e { background-color: #181A1E; }
.bg-fff { background-color: #fff; }
.bg-grd-f94a8e-f9b62f { background-color: linear-gradient(-60deg, #f94a8e, #f9b62f); }

.color-white { color: white; }

.box-default-no-margin {
    min-width: 30vw;
    /*height: 100vh;*/
}

.padding-24 { padding: 24px; }
.padding-32 { padding: 32px; }
.padding-48 { padding: 48px; }

.margin-20 { margin: 20px; }

.container { height: 100vh; }

div h1 { font-weight: 800; }

div span {
    font-size: 60px;
    font-weight: 800;
    display: block;
}

h1::after {
    content: '';
    display: block;
    margin-top: 7px; margin-bottom: 10px;
    border-bottom: 3px solid #F94A8E;
    width: 80px;
}

.box {
    background-color: #6A6262;
    min-width: 400px; min-height: 240px;
    border-radius: 8px;
    margin-top:80px;
    padding: 60px 30px;
    box-shadow: 0 30px 80px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15)
}

input[type=password], input[type=text], input[type=email] {
    border: 0;
    padding: 5px 0px;
    height: 30px;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    color: #000;
    display: block;
    width: 100%;
    font-size: 16px;
}

input[type=password]:focus, input[type=text]:focus, input[type=email]:focus {
    outline: 0;
    border-color: #333
}

.button {
    background-image: linear-gradient(30deg, #f94a8e, #f9b62f);
    border: 0;
    padding: 10px 8px;
    margin: 20px 0 0 0;
    width: 100%;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
}

.button:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}

.button:focus {
    outline: 0;
}

.focus-border{
    width: 10px; height: 20px; 
    background-color: #000; 
}

.login-text {
    padding: 0;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 20px;
}

.login-text h4 {
    margin: 0px 0px 3px 0px;
    color: rgba(0, 0, 0, 0.6);
}

.blur { -webkit-filter: blur(10px); }

#bottom p {
    margin-top: 60px;
    text-align: center;
}

.vert-divider {
    border-right: 1px solid #333;
    height: 80vh;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes button-focus {
    from { background-color: #7fffd4; }
    to { background-color:#6dd8b4; }
}

